/* #region-common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f6f6f6;
}

/* #endregion-common */
/* #region-debug */
.debug {
    header {
        background-image: url(assets/img/hero-bg.jpg);

    }

    #jumbotron {
        background-image: url(assets/img/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #invite-only {
        background-color: white;
    }

}

/* #endregion-debug */
/* #region-bgcolor */
#community {
    svg {
        color: #f6f6f6;
        background-color: white;
    }
}

#fandom {
    background-color: white;

    svg {
        color: white;
        background-color: #f6f6f6;
    }
}

#technology {
    svg {
        color: #f6f6f6;
        background-color: white;
    }
}

#references {
    background-color: #23272a;
}

#logo-footer {
    background-color: #23272a;
}

/* #endregion-bgcolor */
/* #region-utilities */
.m-A {
    margin: auto;
}

.vertical-pad {
    padding: 2rem 0 2rem 0;
}

.w-80 {
    width: 80%;
}

.w-15 {
    width: 15%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.flex {
    display: flex;
}

.a-cent {
    align-items: center;
}

/* #endregion-bgcolor */
.description {
    /* background-color: #1e90ff; */

    padding: 6rem;
    color: #23272a;

    h2 {
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }
}

header {
    padding: 10px 0 10px 0;
    position: fixed;
    width: 100%;

}

#references {
    padding: 5px 0 2rem 0;
}

#logo-container {
    padding: 5px 0 5px 0;
    flex-wrap: wrap;

    ul {
        list-style: none;
        display: flex;
        flex-grow: 2;
        justify-content: center;
        gap: 2rem;
        padding: 0.5rem;

        a {
            text-decoration: none;
            color: white;
            font-size: small;
            font-weight: bold;
        }
    }

    #logo {
        flex-grow: 1;

    }

    #login {
        flex-grow: 1;
        text-align: center;

        #log-btn {
            padding: 10px;
            background-color: white;
            border-radius: 20px;
            border: none;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                background-color: grey;
                cursor: pointer;
            }
        }
    }
}

#jumbo-container {
    width: 50%;
    text-align: center;
    padding: 5rem;

    h1 {
        margin-bottom: 3rem;
        color: white;
        font-size: 3rem;
    }

    #jumbo-text {
        margin-bottom: 3rem;
        color: white;
        word-spacing: 5px;

    }

    #download-btn {
        padding: 15px;
        background-color: white;
        border-radius: 20px;
        border: none;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            background-color: grey;
            cursor: pointer;

        }
    }

    #browser-btn {
        margin-left: 1rem;
        padding: 15px;
        background-color: black;
        color: white;
        border-radius: 20px;
        border: none;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            background-color: grey;
            cursor: pointer;
        }
    }
}

#techno-container {
    text-align: center;
    padding: 0 0 5rem 0;

    #svg-4 {
        width: 100%;
    }

    #techno-text {
        padding: 2rem;

        h2 {
            margin-bottom: 2rem;
            font-size: 2.5rem;
        }

    }

    #question {

        h1 {
            margin-bottom: 2rem;
            background-image: url(assets/img/sparkles.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        #mac-btn {
            padding: 15px;
            background-color: #8ea1e1;
            border-radius: 20px;
            border: none;
            font-size: medium;
            font-weight: bold;
            color: white;
            text-decoration: none;

            &:hover {
                background-color: grey;
                cursor: pointer;

            }

        }
    }
}

#ref-container {
    padding: 3rem;

    #ref-social {
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 2;

        h3 {
            margin-bottom: 1rem;
            font-size: 2rem;
            color: #7289da;
            max-width: 80%;
        }

        select {
            margin-bottom: 1rem;
            color: white;
            background-color: #23272a;
            border: none;
        }

        .social-wrap {
            list-style: none;
            gap: 1rem;

            .social-btn {

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .ref-links {
        flex-grow: 1;


        ul {
            color: #7289da;
            list-style: none;
            font-weight: bold;

            li {
                margin-top: 1rem;

                a {
                    color: white;
                    text-decoration: none;
                    font-size: small;
                }
            }
        }
    }
}

#foot-container {
    border-top: 2px solid #7289da37;
    padding: 1rem 0 3rem 0;
    justify-content: space-between;
    align-items: center;

    #foot-logo {
        width: 10%;

        a:hover {
            cursor: pointer;
        }
    }

    #foot-btn {
        background-color: #8ea1e1;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px;
        font-weight: bold;
        text-decoration: none;
    }
}